<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369508257127-9e29lveepobbtpdjn0ccpgtvqd7f537t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369508257127-9e29lveepobbtpdjn0ccpgtvqd7f537t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>369508257127-tbhaq8qrqbmbeopa7jabvf8tq4j7houf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDieaxMwbiWWQFSVnYgFU22Ovkz85Cbij4</string>
	<key>GCM_SENDER_ID</key>
	<string>369508257127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.codeswitch.relief</string>
	<key>PROJECT_ID</key>
	<string>relief-7531f</string>
	<key>STORAGE_BUCKET</key>
	<string>relief-7531f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369508257127:ios:5027a81f6ad717dbec73c2</string>
</dict>
</plist>